<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>"新規作成ページ"</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("select give_for,weight,length from crops where not (give_for = '自家消費');") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "自家消費でないもの：#{record["give_for"]}　重さ：#{record["weight"]} 長さ：#{record["length"]}" %>
  <% end %>
<form action='goya.cgi' method='POST'>
      譲渡先が自家消費ではないもの<br><br>
      <!-- このinputに入力された情報が、submitの送信ボタンでデータとして送られる -->
      <!-- name='input'は送られた先の目印となる情報 -->
      <!-- type="text"は入力ができるフォームを作成するという記述 -->
      <input type="text"  name='goya' value="<%= data.join(' ') %>"><br>
      <input type="submit" name="送信" >
    </form>
    <% result = connection.exec("select quality,weight,length from crops where not (quality = 'true');") %>
    <% data = [] %>
    <% result.each do |record| %>
    <%  data << "品質が悪いもの：#{record["quality"]}　重さ：#{record["weight"]} 長さ：#{record["length"]}" %>
    <% end %>
<form action='goya.cgi' method='POST'>
      品質が悪いもの<br><br>
      <!-- このinputに入力された情報が、submitの送信ボタンでデータとして送られる -->
      <!-- name='input'は送られた先の目印となる情報 -->
      <!-- type="text"は入力ができるフォームを作成するという記述 -->
      <input type="text"  name='goya' value="<%= data.join(' ') %>"><br>
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
